<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.yasirkula.unity">
	<uses-sdk android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="replace" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="replace" />
	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="replace" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" tools:node="replace" />
	<application android:requestLegacyExternalStorage="true" />
</manifest>